page {  
    display: block;  
    min-height: 100%;  
    background-color: #f7f3f4;  
    padding-bottom: 14%;
  }
  .option {
    position: relative;
  
    .icon_Delete {
      z-index: 999;
      position: absolute;
      left: 2%;
      top: 50%;
      transform: translate(0,-50%);
    }
  }
  
  .container_AddOption {
      margin-bottom: 15px;
  }
  
